{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Acerca de Nosotros</h1>

<div class="row">
    <div class="col-lg-4">
     <img src="/media/uriel.jpg" alt="140">
    <h2>Uriel Sanchez Fernandez
    </h2>
    <h4><p>Mi nombre es Uriel Sanchez Fernandez y tengo 23 años. Soy de General Villegas, Prov. Buenos Aires, Argentina.</p></h4>
    
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4">
    <img src="/media/gaston.jpg" alt="140">
    <h2>Gaston Barrera</h2>
    <h4><p>Mi nombre es Gaston Barrera y tengo 41 años. Soy de CABA, Prov. Buenos Aires, Argentina.</p></h4>
    
    </div><!-- /.col-lg-4 -->
  </div>
  <br>
  <br>

<h2>Nuestro deseo</h2>

<h4><p>Nosotros nos hemos conocido estudiando PYTHON en CODERHOUSE, la pasión por los motores nos unió para realizar este sitio dedicado para todos aquellos que están orgullosos de sus autos o motos.Poder mostrarlos, recibir y enviar mensajes entre los usuarios, nuestra visión es poder realizar una comunidad apasionada por los motores. En la cual se puedan intercambiar conocimiento, generar compañerismo y hermandad entre sus miembros. <br>
  
  <br>
  Los Esperamos Uriel y Gaston.
  
  </p></h4>
{% endblock contenidoQueCambia %}