{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Acerca de Nosotros</h1>
<div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2>Uriel Sanchez Fernandez
      </h2>
      <p>Mi nombre es Uriel Sanchez Fernandez y tengo 23 años. Soy de General Villegas, Prov Buenos Aires, Argentina 

      </p>
      
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2>Gaston Barrera</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>
      
    </div><!-- /.col-lg-4 -->
  </div>


<h4>Objetivo de la Pagina</h4>

<p>contar</p>
{% endblock contenidoQueCambia %}