{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <div>
        <h1>Lista de Autos Registrados</h1>

        <h3>Que marca de auto estas buscando?</h3>
    
        <form action="/App/buscar_auto/" method="GET"> 
    
    
         <p> Ingrese la marca en mayusculas:  <input type="text" name="marca" id="marca"></p>
    
    
         <input type="submit"  value="Buscar">

        </form>

    </div>
    

    <ul>
        {% for auto in lista %}


        <table>
            <tbody>
            <tr>
            <td></td>
            <td>               </td>
            <td></td>
            </tr>
            <tr>
            <td><img src="{{auto.imagen.url}}" width="250 px" height="200 px"></td>
            <td>
            DUEÑO: {{auto.user}}<br>
            MARCA: {{auto.marca}}<br>
            MODELO: {{auto.modelo}}<br>
            COLOR: {{auto.color}}<br>
            KM: {{auto.km}}<br>
            <a href="{% url 'formulario_mensaje' %}">
                <button>Contactar</button>
            </a>
            </td>
            </tr>
            </tbody>
        </table>

            
        {% endfor %}
    </ul>


{% endblock contenidoQueCambia %}

