{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
   <h1>Editar Moto</h1>

   
   <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}

       <table>
           
           {{miFormulario.as_table}}

       </table>
    
      
        
        <input type="submit"  value="Confirmar">

   </form>

<div align = "right">
    
    <a href="{% url 'perfil' %}">
        <button>Volver</button>
    </a>

</div>


 

{% endblock contenidoQueCambia %}