{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<h1>Cargue su Auto</h1>

{% if form.errors  %}
     <p style="color:red;"> Los datos son incorrectos, intente de vuelta
 {% endif %}


<form action="/App/formulario_auto/" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        
        {{form.as_table}}

    </table>
 
   
     
     <input type="submit"  value="Cargar">

</form>

<div align = "right">
 
 <a href="{% url 'perfil' %}">
     <button>Volver</button>
 </a>

</div>





{% endblock contenidoQueCambia %}

