{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h2>Bienvenido a SB engine.  </h2>
<h5>Esta es el sitio para todos los enamorados de sus fierros, le brindamos un lugar para mostrar los datos y fotos de sus autos y/o motos.
    También y lo más importante, comunicarse dentro de nuestra plataforma con personas tan apasionadas como usted. 
    Solo debes registrarte y ya podrás compartir tu auto o moto en nuestra red.</h5>
<img src="media/IMAGEinicio.jpg" alt= "Por Favor volver a hacer click en Inicio" width="1300 px" height="600 px">

{% endblock contenidoQueCambia %}
