{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
   <h1>Lista de Motos Registradas</h1>

   <h3>Que marca de moto estas buscando?</h3>

    <form action="/App/buscar_moto/" method="GET"> 


    <p> Marca:<input type="text" name="marca" id="marca"></p>


    <input type="submit"  value="Buscar">


   <ul>
      {% for moto in lista %}
        <li> MARCA: {{moto.marca}}  MODELO: {{moto.modelo}} COLOR: {{moto.color}}  KM: {{moto.km}} </li>
      {% endfor %}
  </ul>



{% endblock contenidoQueCambia %}