{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Bienvenido a mi Perfil </h1>
<hr class="divider">
<div class="row">
  <div class="col-lg-4">
    

    <h2>{{usuario.first_name}} {{usuario.last_name}}</h2>
    <h5>Contacto</h5>
    <h6>Mail: {{usuario.email}}</h6>
    <h6>Mensajeria de Expo Motor: {{usuario}}</h6>

    
  </div><!-- /.col-lg-4 -->
  

  
 <hr class="divider">
<h3>
  Mis Publicaciones
</h3>

 <ul>
  {% for auto in publicacionesA %}
  <table>
    <tbody>
    <tr>
    <td></td>
    <td>               </td>
    <td></td>
    </tr>
    <tr>
    <td><img src="{{auto.imagen.url}}"  width="250 px" height="200 px"></td>
    <td>
    DUEÑO: {{auto.user}}<br>
    MARCA: {{auto.marca}}<br>
    MODELO: {{auto.modelo}}<br>
    COLOR: {{auto.color}}<br>
    KM: {{auto.km}}<br>
    <a href="{% url 'formulario_mensaje' %}">
      <button>Contactar</button>
    </a>
    <a href="{% url 'eliminar_auto' auto.id %}">
      <button>Eliminar</button>
    </a>
    <a href="{% url 'editar_auto' auto.id %}">
      <button>Editar</button>
    </a>
    </td>
    </tr>
    </tbody>
  </table>
  
  {% endfor %}
  {% for moto in publicacionesM %}
  <table>
    <tbody>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td><img src="{{moto.imagen.url}}"  width="250 px" height="200 px"></td>
    <td>
       DUEÑO: {{moto.user}}<br>
       MARCA: {{moto.marca}}<br>
       MODELO: {{moto.modelo}}<br>
       COLOR: {{moto.color}}<br>
       KM: {{moto.km}}<br>
       <a href="{% url 'formulario_mensaje' %}">
           <button>Contactar</button>
        </a>
        <a href="{% url 'eliminar_moto' moto.id %}">
          <button>Eliminar</button>
        </a>
        <a href="{% url 'editar_moto' moto.id %}">
          <button>Editar</button>
        </a>

        
    </td>
    </tr>
    </tbody>
    </table>
  
  {% endfor %}

  
 </ul>

  


    



{% endblock contenidoQueCambia %}


  