{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
   <h1>Resultados de Motos {{marca}}</h1>

   
   {% if motos %}

   <ul>
       
       {% for moto in motos %}
       <table>
        <tbody>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td><img src="{{moto.imagen.url}}"  width="250 px" height="200 px"></td>
        <td>
        DUEÑO: {{auto.user}}<br>
        MARCA: {{moto.marca}}<br>
        MODELO: {{moto.modelo}}<br>
        COLOR: {{moto.color}}<br>
        KM: {{moto.km}}<br>
        <a href="{% url 'formulario_mensaje' %}">
            <button>Contactar</button>
        </td>
        </tr>
        </tbody>
        </table>
       {% endfor %}

   </ul>
       
   {% endif %}
   
   <a href="{% url 'motos' %}">
    <button>Volver</button>
</a>



{% endblock contenidoQueCambia %}