{% extends 'App/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
   <h1>Resultados de autos {{marca}}</h1>

   
   {% if autos %}

   <ul>
       
       {% for auto in autos %}
       <table>
        <tbody>
        <tr>
        <td></td>
        <td>               </td>
        <td></td>
        </tr>
        <tr>
        <td><img src="{{auto.imagen.url}}"  width="250 px" height="200 px"></td>
        <td>
        DUEÑO: {{auto.user}}<br>
        MARCA: {{auto.marca}}<br>
        MODELO: {{auto.modelo}}<br>
        COLOR: {{auto.color}}<br>
        KM: {{auto.km}}<br>
        <a href="{% url 'formulario_mensaje' %}">
            <button>Contactar</button>
        </a>
        </td>
        </tr>
        </tbody>
        </table>
       {% endfor %}

   </ul>
       
   {% endif %}
   
   <a href="{% url 'autos' %}">
    <button>Volver</button>
</a>



{% endblock contenidoQueCambia %}